
/* CSS for the Related plugin */


/* Metabox */
#related-posts,
#related_du-posts {
	margin-bottom: 20px;
}

.related-post,
.related_du-post {
	font-size: 11px;
	margin: 6px 0px 8px;
	padding: 8px;
	background: #f1f1f1;
	border: 1px solid #dfdfdf;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.related-post-title,
.related_du-post-title {
	padding: 0 30px 0 0;
}
.related-post a,
.related_du-post a {
	float: right;
}

.related-posts-select,
.related_du-posts-select {
	min-width: 500px;
}


/* Options Page */
.related-widget {
	max-width: 700px;
}

/* Tabs */
.related_options {
	display: none;
}
.related_options.active {
	display: block;
}
